{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="span12">
    <form method="POST" action="#">
      {% csrf-field %}
      <p>
        Label
        <input class="form-control"
                 type="text"
                 name="label"
                 value="{{label}}" />
      </p>
      {% if errors.label %}
      <div class="alert alert-danger">{{errors.label|join}}</div>
      {% endif %}

      <p>
        Description
        <textarea class="form-control"
                  rows="20"
                  cols="50"
                  name="descr">{{descr}}</textarea>
      </p>
      {% if errors.descr %}
      <div class="alert alert-danger">{{errors.descr|join}}</div>
      {% endif %}

      <p>
        Background
        <input class="form-control"
                 type="text"
                 name="background"
                 value="{{background}}" />
      </p>
      {% if errors.background %}
      <div class="alert alert-danger">{{errors.background|join}}</div>
      {% endif %}

      <p>
        Foreground
        <input class="form-control"
                 type="text"
                 name="foreground"
                 value="{{foreground}}" />
      </p>
      {% if errors.foreground %}
      <div class="alert alert-danger">{{errors.foreground|join}}</div>
      {% endif %}

      <p>
        Last changed 
        <time>{{last-changed}}</time>
      </p>
      <a class="btn btn-primary" href="/classes">&laquo; back to list</a>
      <input type="submit" class="btn btn-primary" value="save" />
    </form>
  </div>
</div>
{% endblock %}
