{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="span12">
    <ul class="bookmarks">
      {% for item in bookmarks %}
      <li>
        <time>{{item.last-changed|date:"yyyy-MM-dd HH:mm"}}</time>
        <a href="{{item.url}}" target="#blank">{{item.url}}</a>
        <a href="/bookmark/{{item.uuid}}">edit</a>
        <a href="/bookmark/{{item.uuid}}/delete">delete?</a>
        <p>{{item.descr}}</p>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
