{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="span12">
    <p>
      <select name="class-uuids" multiple title="Pick classes..." class="selectpicker show-tick" data-width="100%">
        {% for class in classes %}<option value="{{class.uuid}}" data-content="<span class='label' style='background-color: #eee; color: #222'>{{class.label}}</span>"{% if class.selected %}selected{%endif%}>{{class.label}}</option>
        {% endfor %}
      </select>
    </p>
    
    <ul class="bookmarks">
      {% for item in bookmarks %}
      <li>
        <a href="{{item.url}}" target="_blank">{{item.url}}</a>
        <p>{{item.descr}}</p>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
